@if (TempData["Deleted"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Resources.Success</strong> @TempData["Deleted"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Resources.Error</strong> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Added"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Resources.Success</strong> @TempData["Added"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
