@model WebShopping.Models.Item

@{
    ViewBag.Title = $"{Resources.Update} {Resources.Item}";
    List<WebShopping.Models.Category> categories = ViewBag.Categories as List<WebShopping.Models.Category>;
    SelectList cates = new SelectList(categories, "ID", "Name");
}

<style>
    .field-validation-valid {
        display: none;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>
        @Resources.Update @Resources.Item @Html.ActionLink($"{Resources.B2L}", "Index", "Item", new { @class = "btn btn-outline-dark" })
    </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group mt-3">
        @Html.Label($"{Resources.Name}", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.Label($"{Resources.Description}", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.Label($"{Resources.Amount}", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.Label($"{Resources.Price}", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group mt-3">
        @Html.Label($"{Resources.Category}", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CategoryID, cates, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryID, $"{Resources.CategoryReq}", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-3">
            <input type="submit" value="@Resources.Update" class="btn btn-primary" />
        </div>
    </div>
</div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary modalBTN" hidden data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel">@Resources.Warning</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">@Resources.OK</button>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }
}
